/* 
.btn{
     height: 40px;
     width:50px;
     border:1px solid black;
     margin:4px
}

.btn1{
     height: 80px;
     width: 50px;
     border: 1px solid black;
     margin: 4px
} */

.tooltip {
     position: relative;
     display: inline-block;
     
}

.tooltiptext {
     position: absolute;
     top: 100%;
     left: 0;
     background: red;
}